index.html
{
  "name": "Retell List Calls Proxy - GitHub Pages + ngrok CORS Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "retell-list-calls",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://rizjaved8949.github.io"
        }
      },
      "id": "c6b30cd8-bbdf-48e9-b60c-78d15425116c",
      "name": "GET Frontend Webhook - List Calls",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        0
      ],
      "webhookId": "retell-list-calls-get"
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "retell-list-calls",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://rizjaved8949.github.io"
        }
      },
      "id": "85df9a0a-831e-4fb8-ac03-e2ad7d18accc",
      "name": "OPTIONS CORS Preflight",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -860,
        260
      ],
      "webhookId": "retell-list-calls-options"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://rizjaved8949.github.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, ngrok-skip-browser-warning"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              },
              {
                "name": "Vary",
                "value": "Origin"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "4f7033fc-2a4b-4eca-81fc-aa6d885a8e77",
      "name": "Return CORS Preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -600,
        260
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = $json.query || {};\n\nfunction toPositiveInt(value, fallback, max = Number.MAX_SAFE_INTEGER) {\n  const parsed = Number.parseInt(value, 10);\n  if (!Number.isFinite(parsed) || parsed <= 0) return fallback;\n  return Math.min(parsed, max);\n}\n\nconst limit = toPositiveInt(query.limit, 10, 50);\nconst page = toPositiveInt(query.page, 1);\n\nconst parsedSkip = Number.parseInt(query.skip, 10);\nconst skip = Number.isFinite(parsedSkip) && parsedSkip >= 0\n  ? parsedSkip\n  : (page - 1) * limit;\n\nreturn [\n  {\n    json: {\n      limit,\n      skip,\n      sort_order: 'descending',\n      include_total: true\n    }\n  }\n];"
      },
      "id": "bb3f8794-7266-4475-8747-c9bb67e636e0",
      "name": "Build Retell Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v3/list-calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_RETELL_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "085901d3-9f60-4315-883a-3e0647bb2475",
      "name": "Retell - List Calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -340,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Always return a frontend-safe object so the browser gets CORS headers even when Retell fails.\nconst item = $json || {};\n\nif (item.error || item.message?.includes?.('Error') || item.name === 'NodeApiError') {\n  return [{\n    json: {\n      items: [],\n      total: 0,\n      has_more: false,\n      error: item.message || item.error || 'Retell request failed inside n8n.'\n    }\n  }];\n}\n\nconst items = Array.isArray(item.items) ? item.items : [];\nconst total = Number.isFinite(Number(item.total)) ? Number(item.total) : items.length;\nconst has_more = Boolean(item.has_more);\n\nreturn [{\n  json: {\n    items,\n    total,\n    has_more\n  }\n}];"
      },
      "id": "c58aa741-1014-4b9a-b1ad-a21fd8b8f881",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://rizjaved8949.github.io"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, ngrok-skip-browser-warning"
              },
              {
                "name": "Access-Control-Max-Age",
                "value": "86400"
              },
              {
                "name": "Vary",
                "value": "Origin"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "93a634e0-5fd2-4c59-8930-0472a0b1d242",
      "name": "Return Calls to Frontend with CORS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "GET Frontend Webhook - List Calls": {
      "main": [
        [
          {
            "node": "Build Retell Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPTIONS CORS Preflight": {
      "main": [
        [
          {
            "node": "Return CORS Preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retell Payload": {
      "main": [
        [
          {
            "node": "Retell - List Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell - List Calls": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "Return Calls to Frontend with CORS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Retell call logs proxy for GitHub Pages. Includes explicit GET and OPTIONS CORS handling and allows ngrok-skip-browser-warning for ngrok-free.dev."
  },
  "tags": []
}
